/* Reset default styles */
body,
html {
	margin: 0;
	padding: 0;
}

/* Loader styles */
.loader {
	background-image: url("./splash.png");
	background-color: #010f2a;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
}

.loader .spinner {
	position: absolute;
	width: 50px;
	/* Légèrement plus grand */
	height: 50px;
	border: 8px solid transparent;
	/* Couleurs de Noël pour le spinner */
	border-top-color: #c41e3a;
	/* Rouge de Noël */
	border-right-color: #ffffff;
	/* Blanc */
	border-bottom-color: #c41e3a;
	/* Rouge de Noël */
	border-left-color: #ffffff;
	/* Blanc */
	border-radius: 50%;
	animation: spin 1.5s linear infinite, glow 2s ease-in-out infinite;
	z-index: 9999;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
	/* Effet de lueur */
}

/* Animation de rotation modifiée */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Nouvelle animation de lueur */
@keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	}

	50% {
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(196, 30, 58, 0.4);
	}
	100% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	}
}

/* Ajout d'une décoration de Noël autour du spinner */
.loader .spinner::before {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	border: 2px dotted #ffffff;
	border-radius: 50%;
	animation: rotate-reverse 3s linear infinite;
}

@keyframes rotate-reverse {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
